.item {
  display: flex;
  justify-content: space-between;
}

.itemWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.button {
  background-color: transparent;
  border-radius: 5px;
  border: 0.5px solid gray;
  cursor: pointer;
  margin-left: 10px;
}
